{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/login'>
<table>
<p>Please fill this strings:</p>
<tr><td>login:</td><td><input name='login' type='TEXT'></td></tr>
<tr><td>password:</td><td><input name='password' type='TEXT'></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value='Auth' type='SUBMIT'></p>
</form>
<p>Other options:</p>
<input type="button" value="Main" onClick='location.href="http://127.0.0.1:5000/"'>

{% endblock %}
